@model IEnumerable<Controle_de_Habito.Models.Habito>

@{
    ViewData["Title"] = "Index";
}

<div class="tablegrid">
    <div class="table-responsive">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table caption-top">
            <caption>Meus hábitos</caption>
            <thead class="table-dark">
          
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Objetivo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Horario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Objetivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dias)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
